
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org" >
  <head th:replace="layout/header::head(${title},${cssPaths})"></head>
  <body>
    <div id="wrapper">
          <div th:replace="layout/slider::silder()"></div>
          <div id="page-wrapper" class="gray-bg" >
              <div th:replace="layout/navbar::navbar()"></div>
              <div class="wrapper wrapper-content animated fadeInRight">
                  <div th:include="::content"></div>
              </div>
              <div class="footer">
                  <div class="pull-right">
                      <a href="https://blog.csdn.net/BADAO_LIUMANG_QIZHI" target="_wongoing">霸道 </a>技术支持
                  </div>
                  <div>
                      <strong>流氓</strong> 气质管理系统
                  </div>
              </div>

          </div>
    </div>
  </body>
  <footer th:replace="layout/footer::foot(${jsPaths})"></footer>
</html>
